{% extends 'store/main.html' %}

{% block content %}



    <div class="container">
        <h2>Quem Somos</h2>
        <p>Na <strong>Tania's Dress</strong>, somos apaixonados por moda e estilo. Desde nossa fundação em 2024, temos o compromisso de transformar o jeito como você se veste e se sente. Com uma equipe dedicada de profissionais da moda e estilistas, nos esforçamos para oferecer peças que não só acompanham as últimas tendências, mas também refletem a individualidade e o bom gosto de cada cliente.</p>

        <h2>Nossa Missão</h2>
        <p>Nossa missão é oferecer roupas elegantes e de alta qualidade que realçam a beleza e a confiança de nossos clientes. Acreditamos que cada peça de vestuário deve ser uma expressão pessoal e estamos aqui para ajudar você a encontrar aquela peça perfeita que não apenas completa seu guarda-roupa, mas também conta sua história.</p>

        <h2>Nossos Valores</h2>
        <ul>
            <li><strong>Qualidade e Estilo</strong>: Cada peça da nossa coleção é cuidadosamente selecionada para garantir a mais alta qualidade e um estilo impecável.</li>
            <li><strong>Inovação e Tendência</strong>: Estamos sempre atentos às últimas tendências de moda e buscamos inovar para oferecer o que há de mais atual e sofisticado.</li>
            <li><strong>Experiência do Cliente</strong>: Valorizamos nossos clientes e nos dedicamos a proporcionar uma experiência de compra única e satisfatória.</li>
            <li><strong>Sustentabilidade</strong>: Comprometidos com a responsabilidade social e ambiental, procuramos adotar práticas sustentáveis em todas as nossas operações.</li>
        </ul>

        <h2>Nossa História</h2>
        <p>A <strong>Tania's Dress</strong> foi fundada em 2024 com a visão de criar um espaço onde a moda e a expressão pessoal se encontram. Nossa jornada, embora recente, tem sido marcada por conquistas significativas:</p>
        <ul>
            <li><strong>2024:</strong> Lançamento da nossa primeira coleção e abertura da loja conceito em Maputo, marcando o início da nossa jornada.</li>
            <li><strong>2024:</strong> Estabelecimento da nossa marca no mercado local com uma recepção calorosa dos clientes e uma crescente base de seguidores.</li>
            <li><strong>2024:</strong> Criação de parcerias estratégicas com influenciadores e estilistas para ampliar nosso alcance e visibilidade.</li>
            <li><strong>2024:</strong> Desenvolvimento de nossa plataforma online para facilitar o acesso às nossas coleções e oferecer uma experiência de compra conveniente.</li>
        </ul>
    </div>
    
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}
